h1 {
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color:#99738e;
  text-align: center;
}

h2 {
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

body {
  background-color: #2F2FA2;
}

button {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin: 10px 20px 10px 20px;
}

legend {
  color:#99738e;
}

input, textarea {
  background-color: #242582; 
  border-color: #99738e;
  width:20rem;
  height:2.5rem;
}

label {
  color:#99738e;
  float:left;
  margin-top:1rem;
}

.center-div {
  width:max-content;
  margin:auto;
}

.border-signup {
  border: #f64c72 solid;
  padding: 20px;
  text-align: center;
  height:30rem;
  width: 30rem;
  margin: auto;
  border-radius:9%;
  background-color: #553d67;
}

.border-login {
  border: #f64c72 solid;
  padding: 20px;
  text-align: center;
  height:25rem;
  width: 30rem;
  margin: auto;
  border-radius:10%;
  background-color: #553d67;
}

#submit-button {
  font-weight:bold;
  margin-top:1.5rem; 
  width:auto;
}

.sml-info {
  font-style: italic;
  font-size:0.9em;
  color:#f64c72
}

a {
  color:#99738e
}

a:hover {
  color:#7e5e75
}

navbar-button-alignment {
  float: right;
  font-size: 100px;
  background-color: aquamarine;
}

li {
  /* Removed list dot */
  list-style-type: none;
}

p {
  color: white;
}

.test {
  font-size: 300px;
  width:min-content;
  margin-top: 1000px;
}

.card-spacing {
  margin: 30px 30px 30px 30px;
  
}

.card-text-black {
  color:black;
  font-size: medium;
}

.white-background {
  background-color: white;
} 