{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container" style="padding-bottom: 2.5rem">
  <h1><em>Why should I learn React?</em></h1>
  <p>React is a powerful tool used to seamlessly and efficiently create code that looks and feels great for the
    end-user</p>
  <h3><em>Ok, but how efficient is it?</em></h3>
  <p>React utilises component-based coding, which means that you can you can create complex UIs by composing various
    components that manage their own states</p>
  <p>React also allows you to easily create simple views for each state in your application, updating whenever a
    change is detected and only changing what it needs to change, preventing long loading times and making the
    end-user wait</p>
  <p>This sort of code makes it easy for debugging as well, since everything is declarable and the problem becomes
    predictable</p>
  <h3><em>It sounds good... But what then what is this site for?</em></h3>
  <p>Well, Learn React. is a simple site that will allow you to learn a few important concepts of React that will
    kickstart your journey in becoming comfortable in coding React</p>
  <p>As well as teaching important concepts, we also run you through a multiple choice at the end to test your
    knowledge, the result of which will be recorded and can be looked over at any time</p>
</div>
{% endblock %}