{% extends "h-and-f.html" %}

{% block content %}
  <table id="top_part">
    <tr>
      <td id="about" class="animated slideInLeft" style="animation-delay:1000ms;">
        <h1>Contact Us</h1>
        <div style="padding: top 40px;">
          <form style="padding:20px 10px;" name="contact" action="">
            <fieldset>
              <legend>Personal Infomation</legend>
              <label for="name">Full name:</label><br />
              <input type="text" id="name" name="name" /><br />
              <label for="email">E-mail Address:</label><br />
              <input type="email" id="email" name="email" /><br />
              <label for="comments">Type us your thoughts:</label><br />
              <textarea id="comments" name="comments" rows="4" cols="50"></textarea><br /><br />
              <input type="submit" value="Submit" />
            </fieldset>
          </form>
        </div>
      </td>
      <td id="about_rightImage" class="animated jackInTheBox" style="animation-delay:2000ms;"></td>
    </tr>
  </table>
{% endblock %}