<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Contents.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <title>Handling Events</title>
</head>

<body>

    <head>
        <!-- NAVBAR -->
        <header id="header" class="animated slideInDown" style="animation-delay:800ms;position:static; color:black;">
            <table>
                <tr>
                    <td id="logo"><a href="/" style="text-decoration:none;">Learn React.</a></td>
                    <td id="navigation">
                        <a href="/about">About</a>
                        <a href="/Page1">Learning Content</a>
                        <a href="/login">Login</a>
                    </td>
                </tr>
            </table>
        </header>
    </head>

    <main>
        <div class="container">
            <h3>React Basics</h3>
            <h4>3. Handling Events </h4>
            <p>Handling events with React elements is very similar to handling events on DOM elements. There are some
                syntax differences:
            <ul>
                <li>React events are named using camelCase, rather than lowercase.</li>
                <li>With JSX you pass a function as the event handler, rather than a string.</li>
            </ul>

            <!-- Embed the code pen with an example of Handling Events from the react website. -->
            <p>Try out and practice the above code in <a href="https://codepen.io/pen?&editors=0010">CodePen</a></p>
            <button type="button" class="btn btn-primary" onclick="window.location.href='Components'">Back</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='Conditional'">Next</button>
        </div>
    </main>

    <div class="container">
        <p>Your Progress:</p>
      </div>
      <div class="progress container">
        <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
  

</body>

<div class="footer">
    <table>
      <tr>
        <td id="logo"><a href="/" style="text-decoration:none;">Learn React.</a></td>
        <td id="navigation">
          <a href="/about">About</a>
          <a href="/Page1">Learning Content</a>
          <a href="/login">Login</a>
        </td>
      </tr>
    </table>
  </div>

</html>