{% extends "h-and-f.html" %} 

{% block content %}
<div
  class="animated slideInLeft"
  style="animation-delay: 800ms; text-align: center"
>
  <div id="signup" class="border-login">
    <form class="" action="/action_page.php" method="POST">
      <div class="header">
        <legend style="text-align: left">
          <em><strong>Login</strong></em>
        </legend>

        <span
          class="sml-info"
          style="position: absolute; right: 20px; bottom: 0px"
          >Need to sign up?
          <span style="margin-left: 10px"
            ><a href="/signup">Sign up</a></span
          ></span
        >
      </div>
      <fieldset>
        <input
          class=""
          placeholder="Username"
          type="text"
          name="username"
          id="uname"
          value="{{ request.form.username }}"
        />

        <input
          class=""
          placeholder="Email"
          type="text"
          name="email"
          id="email"
          value="{{ request.form.email }}"
        />

        <input
          class=""
          placeholder="Password"
          type="password"
          name="password"
          id="password"
          value="{{ request.form.password }}"
        />

        <input
          class="submit-button"
          type="submit"
          value="Submit"
          id="submit-button"
        />
        <br />
      </fieldset>
    </form>

    {% if error %}
    <p class="error">Error is: {{error}}</p>
    {% endif %}
    
  </div>
</div>
{% endblock %}
