<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Contents.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <title>Quiz</title>
</head>

<body>

    <head>
        <!-- NAVBAR -->
        <header id="header" class="animated slideInDown" style="animation-delay:800ms;position:static; color:black;">
            <table>
                <tr>
                    <td id="logo"><a href="/" style="text-decoration:none;">Learn React.</a></td>
                    <td id="navigation">
                        <a href="/about">About</a>
                        <a href="/Page1">Learning Content</a>
                        <a href="/login">Login</a>
                    </td>
                </tr>
            </table>
        </header>
    </head>

    <main>
        <div class="centre">
            <h3>Quiz</h3>
            <ol>
                <li>
                    <p>What is React:</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            A programming language.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Javascript.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            Backend tool to develop websites.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            FrontEnd Javascript library
                        </label>
                    </div>
                </li>
                <li>
                    <p>There is a DOM node called "root". What is the correct way to render this element?</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            <code>React.render(document.getElementById('root'));</code>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            <code>ReactDOM.render(element, 'root');</code>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            <code>ReactDOM.render(element, document.getElementById('root'));</code>
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            <code>React.render(element, document.getElementById('root'));</code>
                        </label>
                    </div>
                </li>
                <li>
                    <p>Why use componants?</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            It just looks better.
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            The code written can be reused and avoids complexity and code reuse. 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            "componants" is a Javascript library. 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            None of the above.
                        </label>
                    </div>
                </li>
            </ol>

            <br>
            <br>
            <button type="button" class="btn btn-primary" onclick="window.location.href='Conditional'">Back</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='Self'">Next</button>

        </div>
    </main>

</body>

</html>