<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen" />
<html lang="en">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Javascript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<!-- jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}" media="screen" />

<head>
  <title>Learn React</title>

  <!-- Nav placed here -->
  <nav class="navbar ">
    <a class="navbar-brand" href="homepage.html">
    </a>
    <div class="btn-group">
      <ul class="nav navbar-nav"></ul>
      <li><button class="btn btn-primary nav-item" type="button" onclick="location.href='about.html'">
          Why react?
        </button></li>
      <li><button class="btn btn-primary nav-item" type="button" onclick=" location.href='FAQ.html';">FAQ</button>
      </li>
      <li><button class="btn btn-success nav-item" type="button" onclick=" location.href='login.html';">Login</button>
      </li>
      </ul>
    </div>
  </nav>
</head>

<body>
  <div class="container">
    <div id="signup" class="border-signup">
      <form class="" action="/action_page.php">
        <legend>
          <em><strong>Sign Up</strong></em>
        </legend>
        <fieldset>
          <input class="" placeholder="username" type="text" name="username" id="uname" />
          <input class="" placeholder="email" type="text" name="lastname" id="email" />
          <input class="" placeholder="date of birth" type="text" name="lastname" id="dob" />
          <input class="submit-button" type="submit" value="Submit" id="submit-button" />
          <br>
          <span class="sml-info">Already have an account? <span style="margin-left: 10px;"><a
                href="login.html">Login</a></span></span>
        </fieldset>
      </form>
    </div>
  </div>
</body>

</html>